* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@mixin posi{
  position: relative;
  z-index: 2;
}
body{
cursor: url("https://blog.kakaocdn.net/dn/BQXpN/btq3qNR67Lg/8tx8tGzkOcr5BuX5dyIaKk/img.png"), auto;
}
#root {
  width: 100vw;
  font-family: 'Nanum Brush Script', cursive;


  &>section {
    width: inherit;
    height: 100vh;
    border: 1px solid red;
  }
}

.map {
  position: absolute;
  right: 0;
}

.font {
  @include posi();
  font-size: 5rem;
  top: 120px;
  left: 40vw;
}

.back {
  height: 30vw;
  position: relative;
  z-index: 1;
  left: 36vw;
  bottom: 2vw;
}
.text{
  position: absolute;
  left: 44vw; top: 12.5vw;
  line-height: 2.4;
  z-index: 3;
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
}
.back-pt{
  font-size: 3rem;
  position: relative;
  left: -9vw; top: 3vw;
  color: #fff;
}

.web-img{
  @include posi();
  top: 130px; left: 28vw;

  &:hover{
    border-bottom: 10px solid #744828;
  }
  
}

.logo-img{
  @include posi();
  top: 280px; right: 20vw;
  &:hover{
    border-bottom: 10px solid #744828;
  }

}

.illust-img{
  @include posi();
  top: 290px; left: 28vw;
  &:hover{
    border-bottom: 10px solid #744828;
  }
}
.back-img{
  @include posi();
  top: 450px; right: 18vw;

  &:hover{
    border-bottom: 10px solid #744828;
  }
}