* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@mixin display {
  display: flex;
  align-items: center;
}

#root {
  width: 100vw;
  height: 300vh;

  &>header {
    width: inherit;
    height: 15vh;
    border-bottom: 1px solid #000;
    position: relative;

    &>img {
      position: absolute;
      left: 50%;
      top: 30px;
    }
  }

}
.profile{
  width: 40px;
  position: absolute;
  right: 5vw; top: 50px;
}
.bucket{
  width: 50px;
  position: absolute;
  right: 10vw; top: 50px;
}

/* 바탕*/

.menu {
  position: relative;
  display: inline-block;
  width: inherit;
  height: 10vh;
  background-color: #000;

  &:hover{
    background-color: #fff;
    border-bottom: 1px solid #000;
  }
}

/* 버튼*/
.menubtn {
  background-color: #000;
  color: #fff;
  font-size: 16px;
  position: sticky;
  margin: 30px 0px 0px 23.3vw
}

/* a link*/

.link {
  width: 80vw;
  display: none;
  position: absolute;
  top: 80px;
  left: 60px;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;  display: flex;
  visibility: hidden;
  
  &>a {
  width: 20vw;
  text-align: center;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  

  &:hover{
    background-color: #000; color: #fff;
    display: flex;


  }
}

}

.menu:hover .link{visibility: visible;}
.menu:hover .menubtn {background-color: #fff; color: #000; border: none;}


.add{
  width: 100vw;
  height: 40vh;
  &>img{
    width: inherit;
    height: inherit;
    } 
    
    &>p{
    font-size: 2em;
    position: relative;
    top: -255px; left: 8vw;
  }
  }
  


.enter{
  position: absolute;
  top: 450px; left: 55vw;
  width: 10vw;
  height: 5vw;
  border: 4px solid black;
  background-color: #fff;
}

section{
  width: 100vw;
  height: 50vw;
  border: 1px solid black;
}
@media (max-width:500px){
  .menubtn{
    margin: 7vw 40px 0vw 12vw;
  }
  .add{
    &>p{
      font-size: 1rem;
    }
  }
}