* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}
/*초록색 창*/
.explain {
  width: 40%;
  height: 130vh;
  position: inherit;
  background-color: #639F54;


  &>img {
    width: 300px;
    height: 400px;

    position: relative;
    top: 0px;
    left: 200px;
  }

}

/* 이름 이미지*/
.name-tag {
  width: 550px;
  height: 150px;
  border-radius: 30px;
  background-color: #fff;

  position: relative;
  top: 50px;
  left: 100px;

  display: flex;
  align-items: center;

  &>img {
    width: 30vw;
    position: relative;
    top: 0vw;
    right: -60px;
  }
}

.webletter {
  width: 400px;
  position: inherit;
  top: 200px;
  right: 300px;
  text-align: center;
  font-size: 80px;
  color: #fff;
}

.porttext {
  position: relative;
  top: 400px;
  right: 600px;
  font-size: 60px;
  color: #fff;

}


.bg-img {
  width: 60%;
  height: 130vh;
  position: relative;
}

.button {
  width: 300px;
  height: 80px;
  border-radius: 60px;
  position: absolute;
  z-index: 2;
  right: 300px;
  color: #fff;
  border: 5px solid #fff;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  font-size: 35px;

  cursor: pointer;

  &:hover {
    width: 300px;
    transition: 1s;
    transform: translate(30%, 30%);
    background-color: #fff;
    color: #639F54;
  }

}

@media (max-width:800px) {
  .bg-img{
    display: none;
  }
  .explain {
    width: 100%;

    &>img {
      width: 300px;
      top: 0px;
      left: 80px;
    }

    .name-tag {
      width: 400px;
      top: 30px;
      left: 40px;

      &>img {
        width: 800px;
        border-radius: 30px;
        right: -1px;
      }
    }

    .webletter {
      width: 400px;
      font-size: 70px;
      text-align: center;
      top: 210px;
      right: 350px;
    }

    .porttext {
      font-size: 60px;
      top: 380px;
      left: -630px;
    }

  }
  .button{
    left: 20px; bottom: -60px;
    width: 450px;
    height: 100px;


    &:hover{
      transform: none;
      transition: none;
      width: 450px;
  }
  }

  

}

