* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@mixin posi{
  position: relative;
  z-index: 2;
}
@mixin shape {
  width: 450px;
  height: 110px;
}


#root {
  width: 100vw;
  font-family: 'Nanum Brush Script', cursive;
  overflow: hidden;


  &>section {
    width: 100vw;
    height: 100vh;
    border: 1px dotted #000;
    overflow: hidden;
  }
}

.map {
  position: absolute;
  right: 0;
}

.font {
  @include posi();
  font-size: 5rem;
  top: 120px;
  left: 850px;
}

.back {
  height: 800px;
  position: relative;
  z-index: 1;
  left: 630px;
  bottom: 8vw;
}
.text{
  position: absolute;
  left: 900px; top: 270px;
  line-height: 2.4;
  z-index: 3;
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
}
.back-pt{
  font-size: 3rem;
  position: relative;
  left: 750px; top: 680px;
  color: #fff;
  z-index: 3;
}

.web-img{
  @include posi();
  top: 130px; left: 590px;

  &:hover{
    border-bottom: 10px solid #744828;
  }
  
}

.logo-img{
  @include posi();
  top: 280px; left: -240px;
  &:hover{
    border-bottom: 10px solid #744828;
  }

}

.illust-img{
  @include posi();
  top: 290px; left: 600px;
  &:hover{
    border-bottom: 10px solid #744828;
  }
}
.back-img{
  @include posi();
  top: 450px; right: 200px;

  &:hover{
    border-bottom: 10px solid #744828;
  }
}










@media (max-width:800px){
  .font{
    left: 120px;
  }
  .text{
    top: 304px; left: 200px;
    line-height: 2.7;
    font-size: 2rem
  }
  .web-img{
    @include shape();
    left: 55px; top: 180px;
  }
  .logo-img{
   @include shape();
    left: 55px; top: 200px;
  }
  .illust-img{
    @include shape();
    left: 55px; top: 220px;

  }
  .back-img{
    @include shape();
    top: 250px; left: 50px;
  }
  .back{
    width: 50vw;
    height: 800px;
    top: -300px; left: 150px;
  }
  .back-pt{
    font-size: 1.8rem;
    left: 100px; top: 660px;
  }
}