* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.collect {
  width: 80vw;
  height: 80vh;

  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  transform: perspective(50rem);


  animation: port-text 3s;




}

.about {
  width: 40vw;
  height: 58vh;
  border: 1px solid black;
  background-color: #fff;
  transform: translateZ(30px);
  transform-origin: top;
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.about-window {
  width: 85%;
  height: 88%;
  position: absolute;
  bottom: 0%;
  left: 3vw;
  z-index: 2;
}

/* 꽃*/

#flower {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 60px; top: 200px;
}

.group1{
width: 100px;
height: 150px;
position: absolute;
top: 200px; left: -200px;
z-index: 3;
  &>a>p{
    width: 10vw;
    text-align: center;
    position: absolute;
    z-index: 4;
    transform: rotate(40deg);
  }
    top: 20px; left: 80px;
  &> li {
    width: 250.76px;
    height: 50.24px;
  
  
    background: rgba(229, 223, 87, 0.3);
    opacity: 40%;
    border-radius: 122px;
    list-style: none;
    position: absolute;
  
    &:hover {
      background-color: #fff;
      opacity: 100%;
      border: 1px solid rgba(229, 223, 87, 0.3);
    }
}
}

.portfolio {
  width: 40vw;
  height: 60vh;
  border: 1px solid black;
  background-color: #fff;


  position: absolute;
  transform-style: preserve-3d;

  transform: rotateY(90deg);
  transform-origin: 778px;
  z-index: 1;

  overflow: hidden;

  
  &:hover{
  
    animation: 10s fade;
  }

}


.text {
  width: 30vw;
  height: 15%;
  position: relative;
  right: -10vw;
  &>h1 {
    margin-top: 3vw;
    transform: rotateY(-180deg);
    position: inherit;
    right: 5vw;
  }
}


.web-collect {

  width: inherit;
  height: 50vh;
  list-style: none;
  overflow: hidden;

  background: #DCAD76;
  position: relative;
  z-index: 2;

  display: grid;
  align-items: center;
  justify-content: center;

  &>li {
    width: 30vw;
    height: 5px;
    background-color: white;
  
  
    position: relative;
    z-index: 3;
  
  }
}





.por-img {
  width: 10vw;
  height: 12vh;
  position: relative;
  left: 20vw;
  transform: rotateY(-180deg);
  visibility: visible;
}

.enter{
  border: none;
  background-color: #DCAD76;
  position: absolute;
  left: 20vw; top: 12vw;
  transform: rotateY(180deg);
  &:hover{
    color: #fff;
  }
}

.design {
  width: 40vw;
  height: 60vh;
  border: 1px solid black;
  position: absolute;
  transform-style: preserve-3d;
  transform: rotateY(-90deg);
  transform-origin: -10px;
  z-index: 1;
  &>h1 {
    width: 20vw;
    height: 5vw;
    transform: rotateY(180deg);
    position: relative;
    top: 20px; right: 90px;
  }
}


.door {
  width: 500px;
  perspective: 1000px;
}

.door-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.door:hover .door-inner {
  transform: rotateY(180deg);
}

.door-front, .door-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.door-front>img{
  width: 50%;
  height: 46vmin;
  position: inherit;
  top: 4.3vmin; right: 35%;
}
.door-back{
  position: inherit;
  bottom: -4.3vmin; right: -4px;
  transform: rotateY(180deg);
  cursor: pointer;
  &>a>button{
    width: 50%;
    height: 46vmin;
    border-top-left-radius: 30vw;
    border-top-right-radius: 30vw;
    cursor: pointer;
  }
}




.design-text{
  visibility: hidden;
}

.portfolio-text{
  visibility: hidden;
}

/* animation*/


@keyframes port-text {
  0% {
    transform: none;
  }
}

@keyframes fade{
  0% {
    background-color: #fff;
  }
  60%{
    background-color: #c4c4c4;
    color: #000;
  }
  60%{
    background-color: #333;
    color: #fff;
  }
  100%{
    background-color: #000;
    color: #fff;
  }
}


@keyframes hidden{
  0%{} 
  100%{visibility: hidden;} 
}





/* tablet - version*/
@media (max-width:1000px) {
  .about {
    width: inherit;
    border: none;

    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  .about-window {
    width: 100vw;
    height: 90vh;
    position: relative;
    bottom: 0; left: 0;
  }

  .design {
    visibility: hidden;
  }

  .portfolio {
    visibility: hidden;  }

  .collect {
    animation: none;
  }

  .design-text{
    visibility: visible;
    position: absolute; 
    top: -20vw; left: 10vw;
    width: 150px;
    height: 81px;
    border: none;
    margin: 4vw 2vw 0vw 0vw;
    &:active{
      box-shadow: inset 30px 10px 4px rgba(0, 0, 0, 0.25)
  
    }
  }
  .portfolio-text{
    visibility: visible;
    position: absolute;
    top: -20vw; right: 5vw;
    width: 150px;
    height: 81px;
    border: none;
    margin: 4vw 0vw 0vw 0vw;
    &:active{
    box-shadow: inset 30px 10px 4px rgba(0, 0, 0, 0.25)

    }
  }

  .por-img{
    display: none;
  }

}