* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 120vh;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-perspective-origin: 50% 25%;
          perspective-origin: 50% 25%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  overflow: hidden;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(10%, #769a31), color-stop(25%, #526b22));
  background-image: linear-gradient(90deg, #769a31 10%, #526b22 25%);
}

.hera {
  width: 15vw;
  height: 25vh;
  position: relative;
  top: 58px;
  left: 35vw;
  z-index: 2;
  cursor: default;
}

.book-diary {
  width: 15vw;
  height: 25vh;
  position: relative;
  top: -20px;
  left: 50vw;
  z-index: 3;
  cursor: default;
}

.photo {
  width: 19vw;
  height: 25vh;
  position: relative;
  top: -30px;
  left: 33vw;
  z-index: 5;
  cursor: default;
}

.hera-ex {
  color: #fff;
  position: relative;
  text-align: center;
  top: -180px;
  left: 10vw;
  line-height: 2.5;
}

.hera-ex > a > img {
  position: relative;
  top: 1vw;
  -webkit-animation: 4s open infinite;
          animation: 4s open infinite;
}

.hera-ex > a > img:hover {
  -webkit-animation: none;
          animation: none;
  -webkit-transform: rotate(8deg);
          transform: rotate(8deg);
}

.diary-ex {
  color: #fff;
  position: relative;
  top: -280px;
  left: -180px;
  line-height: 2;
  text-align: center;
}

.diary-ex > a > img {
  position: relative;
  top: 1vw;
  -webkit-animation: 4s open infinite;
          animation: 4s open infinite;
}

.diary-ex > a > img:hover {
  -webkit-animation: none;
          animation: none;
  -webkit-transform: rotate(8deg);
          transform: rotate(8deg);
}

.photo-ex {
  position: relative;
  left: 55vw;
  bottom: 350px;
  color: #fff;
  line-height: 2.5;
}

.photo-ex > a > img {
  position: relative;
  top: 1vw;
  -webkit-animation: 4s open infinite;
          animation: 4s open infinite;
}

.photo-ex > a > img:hover {
  -webkit-animation: none;
          animation: none;
  -webkit-transform: rotate(8deg);
          transform: rotate(8deg);
}

.shelf {
  position: absolute;
  left: 50%;
  margin-left: -325px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: rotateY(90deg) rotateX(90deg) translateX(199px);
          transform: rotateY(90deg) rotateX(90deg) translateX(199px);
}

.shelf.top {
  top: 300px;
}

.shelf.middle {
  top: 650px;
}

.shelf.bottom {
  top: 1030px;
}

.shelf .face {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff7eb;
  -webkit-box-shadow: inset 0 0 75px 1.5px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 75px 1.5px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.shelf .front {
  width: 100px;
  height: 700px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateX(35px) translateY(-350px) translateZ(10px);
          transform: translateX(35px) translateY(-350px) translateZ(10px);
  z-index: 1;
}

.shelf .back {
  width: 100px;
  height: 700px;
  -webkit-transform: translateX(35px) translateY(-350px) translateZ(-10px);
          transform: translateX(35px) translateY(-350px) translateZ(-10px);
}

.shelf .left {
  width: 20px;
  height: 700px;
  background: -webkit-gradient(linear, left bottom, left top, from(#eae3d8), to(#fff7eb));
  background: linear-gradient(0deg, #eae3d8 0%, #fff7eb 100%);
  -webkit-transform: translateX(25px) translateY(-350px) rotateY(-90deg) translateZ(0);
          transform: translateX(25px) translateY(-350px) rotateY(-90deg) translateZ(0);
  z-index: 1;
}

.shelf .top {
  width: 20px;
  height: 100px;
  -webkit-transform: translateX(75px) translateY(300px) rotateX(90deg) rotateZ(90deg);
          transform: translateX(75px) translateY(300px) rotateX(90deg) rotateZ(90deg);
}

.shelf .bottom {
  width: 20px;
  height: 100px;
  -webkit-transform: translateX(75px) translateY(300px) rotateX(90deg) rotateZ(90deg);
          transform: translateX(75px) translateY(300px) rotateX(90deg) rotateZ(90deg);
}

.shelf:before {
  content: '';
  display: block;
  width: 670px;
  height: 20px;
  -webkit-box-shadow: 0 -30px 30px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 -30px 30px 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotateX(90deg) rotateY(90deg) translateX(-20px) translateZ(-200px) skew(-45deg);
          transform: rotateX(90deg) rotateY(90deg) translateX(-20px) translateZ(-200px) skew(-45deg);
}

@-webkit-keyframes open {
  0% {
  }
  50% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
}

@keyframes open {
  0% {
  }
  50% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
}

@media (max-width: 500px) {
  .hera {
    width: 50vw;
    position: absolute;
    left: 30vw;
    cursor: pointer;
  }
  .hera:hover {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    -webkit-filter: brightness(70%);
            filter: brightness(70%);
  }
  .book-diary {
    width: 50vw;
    position: absolute;
    left: 30vw;
    cursor: pointer;
    top: 85vw;
  }
  .book-diary:hover {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    -webkit-filter: brightness(70%);
            filter: brightness(70%);
  }
  .photo {
    width: 65vw;
    position: absolute;
    top: 170vw;
    left: 30vw;
  }
  .photo:hover {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    -webkit-filter: brightness(70%);
            filter: brightness(70%);
  }
  .shelf.middle {
    top: 640px;
  }
  .shelf.bottom {
    top: 1050px;
  }
  .hera-ex {
    display: none;
  }
  .diary-ex {
    display: none;
  }
  .photo-ex {
    display: none;
  }
}
/*# sourceMappingURL=portfolio.css.map */